/* Write your CSS here */
.notify {
  display: flex;
  align-items: center;
  border: 1px solid #64748b;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
  width: 400px;
}
.inside-notify {
  display: flex;
  align-items: center;
  gap: 20px;
}
