/* Write your CSS here */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-size {
  font-size: 30px;
}

.success {
  color: #2dca73;
}
.error {
  color: #ff0b37;
}
.warning {
  color: #ffb800;
}
.info {
  color: #0f81e0;
}
